* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$primary-color: #2e3f6d;
$secondary-color: #546594;
$grey: #9198aa;
$dark-grey: #474748;
$light-grey: #f4f7fa;
$white: #fff;

body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
  background-color: $light-grey;
}

.hidden {
  display: none !important;
}
