*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$primary-color: #9F4E5B;
$dark-grey: #2e2e2e;
$light-grey: #F9F9F9;

body{
    font-family: 'Poppins', sans-serif;
    padding-top: 3rem;
}

section{
    padding: 2rem 3%;
}

.message{
    position: fixed;
    top: -10%;
    z-index: 1000;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    max-width: 500px;
    background-color: $primary-color;
    padding: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 1.2rem;
    border-radius: 10px;
    transition: all .5s ease;
    opacity: 0;
    &__icon{
        margin-right: 1rem;
    }
}
.nav{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem 3% ;
    align-items: center;
    color: $dark-grey;
    background-color: $light-grey;
    box-shadow: 0px 9px 34px -15px rgba(0, 0, 0, 0.25);
    a{
        text-decoration: none;
        color: $dark-grey;
    }
    &__title{
        font-size: 1.2rem;
        font-weight: 500;
    }
    &__icons{
        font-size: 1.2rem;
        user-select: none;
        i{
            margin-left: .3rem;
            cursor: pointer;
        }
    }
}
.header{
    background-color: $light-grey;
    padding-bottom: 2rem;
    padding-top: 2rem;
    
    &__textColor{
        color: $primary-color;
        padding: 0 .3rem;
    }
    &__categories{
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: 250px repeat(2, 180px);
        grid-template-areas: 'slider slider'
                             'electric acoustic'
                             'discount discount';
        gap: 10px;
        padding: 0 3%;
        &Container{
            position: relative;
            background-size: cover;
            transition: background .2s ease;
            background-position: center;
            cursor: pointer;
                &::before{
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background-color: #0005;
                }
        }
        .header__slider{
            grid-area: slider;
            background-image: url(../assets/header-slider.jpg);
            background-size: cover;
            background-position: center;
            position: relative;
            &::before{
                content: '';
                position: absolute;
                width: 100%;
                height: 30%;
                bottom: 0;
                background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000b9 100%);
            }
            &Slogan{
                color: #fff;
                font-weight: 400;
                position: absolute;
                bottom: 1rem;
                left: 1rem;
                font-size: 1.3rem;
                span{
                    color: $primary-color;
                    font-weight: 700;
                }
            }
        }
        .header__electric{
            grid-area: electric;
            background-image: url(../assets/header-electric.jpg);
        }
        .header__acoustic{
            grid-area: acoustic;
            background-image: url(../assets/header-acoustic.jpg);
        }
        .header__discount{
            grid-area: discount;
            background-image: url(../assets/header-discount.jpg);
        }
        &-text{
            font-weight: 900;
            font-size: 1.2rem;
            position: absolute;
            width: fit-content;
            color: #fff;
            padding: .5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            &::before{
                content: '';
                width: 100%;
                height: 100%;
                position: absolute;
                background: #0009;
                z-index: -1;
                backdrop-filter: blur(6.75px);
            }
        }
    }
}

.sectionSales{
    padding-left: 0;
    padding-right: 0;
    &__title{
        font-size: 1.4rem;
        font-weight: 600;
        margin-left: 3%;
        color: $dark-grey;
        position: relative;
        &::before{
            content: '';
            position: absolute;
            bottom: -5px;
            border-radius: 3px;
            width: 3rem;
            height: 7px;
            background-color: $primary-color;
        }
    }
    &__container{
        margin-top: 3rem;
        display: flex;
        flex-wrap: wrap;
        padding: 0 2%;
    }
    &__sale{
        width: 48%;
        min-height: 20px;
        margin: 1%;
        margin-bottom: 2rem;
        color: $dark-grey;
        box-shadow: 0px 0px 61px -10px rgba(0, 0, 0, 0.1);
        border-radius: 20px;
        cursor: pointer;
        transition: all .1s ease;
        .sale{
            &__imgContainer{
                height: fit-content;
                margin-bottom: .5rem;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            &__img{
                object-fit: cover;
                width: 100%;
                height: auto;
            }
            &__title{
                font-size: 1rem;
                font-weight: 400;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
            }
            &__price{
                font-size: 1.2rem;
                font-weight: 700;
                color: $primary-color;
                span{
                    text-decoration-line: line-through;
                    font-size: .9rem;
                    font-weight: 400;
                    color: $dark-grey;
                }
            }
            &__text{
                padding: 1rem;
            }
            &__addCart{
                font-size: .9rem;
                text-decoration-line: underline;
                cursor: pointer;
                user-select: none;
                transition: all .2s ease;
            }
        }
    }
    &__seeMore{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 1rem;
        color: $dark-grey;
        font-size: 1.3rem;
        font-weight: 300;
        cursor: pointer;
        transition: color .2s ease;
        text-decoration: none;
        &:hover{
            color: $primary-color;
        }
    }
}
.results{
    &__filters{
        display: flex;
        padding: 1rem 3%;
    }
    &__section{
        margin-top: 1rem;
    }
}

.footer{
    min-height: 300px;
    background-color: $dark-grey;
    margin-top: 5rem;
}

.hidden{
    opacity: 0;
}

@import '_queries';